@inject IJSRuntime JSRuntime;

<div class="top-row pl-4 navbar navbar-dark">
    @if(picUri.Length > 0) {
        <img width='32' height='32' src="@picUri" class="img_profile d-block d-sm-none d-none d-sm-block d-md-none" />
    }
    <a class="navbar-brand" href="">SpawnHub Self Mg'd</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Content">
                <span class="oi oi-book" aria-hidden="true"></span> SM Content
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="LaunchCM">
                <span class="oi oi-cloud" aria-hidden="true"></span> Launch CM
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="LaunchOM">
                <span class="oi oi-cog" aria-hidden="true"></span> Launch OM
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="List">
                <span class="oi oi-list" aria-hidden="true"></span> Deploy Logs
            </NavLink>
        </li>
    </ul>
</div>

<div class="bottom-row navbar-dark d-none d-md-block @NavMenuCssClass" id="ctr_profile">
    @if(userName.Length > 0) {
        <h5>@userName</h5>
    }
    @if(picUri.Length > 0) {
        <img width='64' height='64' src="@picUri" class="img_profile" />
    }
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private string picUri = "";
    private string userName = "";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    protected override async Task OnInitializedAsync()
    {
        await JSRuntime.InvokeAsync<string>("login");
        picUri = await JSRuntime.InvokeAsync<string>("getCurrentUserIcon");
        userName = await JSRuntime.InvokeAsync<string>("getCurrentUserName");
    }  
}
